<div class="modal fade" id="carrito-modal" tabindex="-1" aria-labelledby="carrito-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
            </div>

        </div>
    </div>



</div>